<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Package</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        <!-- this ^^^ is for csrf protection, forms do not work without it -->
        <p>{{form.sender.label}} : {{form.sender}} </p>
        <p>{{form.recipient.label}} : {{form.recipient}}</p>
        <p>{{form.origin.label}} : {{form.origin}}</p>
        <p>{{form.destination.label}} : {{form.destination}}</p>
        <p>{{form.express.label}} : {{form.express}}</p>
        <p>{{form.submit}}</p>
    </form>
    <p>
        <a href="/">
            <button>Cancel</button></p>
        </a>
</body>
</html>
